h1 {
    text-align: center;
    font-style: italic;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.25em;
}

header {
    background-color: aquamarine;
    margin-bottom: 1em;
    width: 100%;
}

body {
    background-color: azure;
}

input {
    font-size: large;
    display: inline-table;
    width: 19%;
}

button {
    float: right;
    font-size: large;
    margin-top: 15px;
}

table{
    margin-top: 70px;
    width: 100%;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

.total-salary {
    display: inline;
}

h3 {
    float: right;
}

.table-body {
    background-color: violet;
}

.btn-table {
    float: none;
    font-size: unset;
    margin-top: 0px;
    box-align: center;
}